@import "stylesheet.css";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header{
    width: 100%;
    height: 772px;
    background: url('architectural-design-architecture-building-2224768.jpg') no-repeat center center;
    padding-top: 20px;
    position: relative;
}

header img{
    cursor: pointer;
}

header a{
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Roboto Slab';
}

.link{
    padding: 0 5px;
    border-radius: 10px;
    margin: 0 5px; 
    border: 2px #4a454b solid;
    font-size: 17px;
}
.nav{
  display: none;
}

.nav-link{
  display: none;
}

header a:hover{
    text-decoration: none;
    border: 2px #90d23d solid;
    color: #ffffff;
}
.envato1{
  display: none;
}
.num{
    position: absolute;
    top: 227px;
    left: 0;
}

.time{
    position: absolute;
    text-transform: uppercase;
}

.clock {
    width: 1000px;
    color: #fff;
    font-size: 130px;
    font-family: 'Roboto Slab';
    letter-spacing: 35px;
    border: 4px #4a454b solid;
    border-radius: 18px;
    font-weight: 500;
}

.clock:hover{
  border: 4px #90d23d solid;
}

.days{
    position: absolute;
    top: 78%;
    left: 5.9%;
    font-size: 25px;
    color: #fff;
    font-family: 'Roboto Slab';
    font-weight: 300;
}

.hours{
    position: absolute;
    top: 78%;
    left: 30.9%;
    font-size: 25px;
    color: #fff;
    font-family: 'Roboto Slab';
    font-weight: 300;
}
.minutes{
    position: absolute;
    top: 78%;
    left: 57%;
    font-size: 25px;
    color: #fff;
    font-family: 'Roboto Slab';
    font-weight: 300;
}
.seconds{
    position: absolute;
    top: 78%;
    left: 81.5%;
    font-size: 25px;
    color: #fff;
    font-family: 'Roboto Slab';
    font-weight: 300;
    
}

.part1 {
    position: relative;
    top:-96px;
    width: 100%; 
    height: 195px;
    transform: skewY(-5.2deg);
    background: #fff;
    z-index: 6;
}



.icon1{
    width: 182px; 
    height: 197px;
    position: absolute;
    top: 490px;
    left: 0;
    z-index: 5;
}

.icon2{
    width: 162px; 
    height: 181px;
    position: absolute;
    top: 480px;
    left: 157px;
    z-index: 4;
}

.icon3{
    width: 162px; 
    height: 171px;
    position: absolute;
    top: 471px;
    left: 303px;
    z-index: 3;
}

.icon4{
    width: 162px; 
    height: 182px;
    position: absolute;
    top: 458px;
    left: 442px;
    z-index: 2;
}

.icon5{
    width: 162px; 
    height: 174px;
    position: absolute;
    top: 445px;
    left: 580px;
    z-index: 1;
}
.part2 {
    position: relative;
    top:-175px;
    width: 100%; 
    height: 1520px;
    background: #fff;
    z-index: 7;
}
.part2 h1{
    font-size: 50px;
    font-weight: 700;
    font-family: 'Roboto Slab';
}
.part2 p{
    font-size: 14px;
    font-weight: 300;
    font-family: 'Roboto Slab';
}

.part2 .reg{
    width: 431px;
    height: 533px;
    background: #fff;
    box-shadow: 0px 1px 2px 0px rgba(35, 31, 32, 0.65);
    position: absolute;
    top: -255px;
    left: 163px;
    padding-top: 26px;
}

.reg .ipt{
    width:373px;
    height: 55px;
    margin: 9px auto;
    border: 2px solid #bebebe;
    border-radius: 10px;
    padding-left: 10px;
}

.reg .ipt:active,
.reg .ipt:focus{
   outline: none;
   border-color: #90d23d;
}
.reg button{
    width:373px;
    height: 55px;
    background: #90d23d;
    border: none;
    color: #fff;
    font-size: 22px;
    border-radius: 10px;
    margin: 27px auto;
}

.column{
margin-top: 150px;  
}

.column img{
  height: 190px;
}
.column h1{
  margin: 20px auto;
}
.cont{
  margin-top: 64px;
  margin-bottom: 40px;
}
.heat{
  height: 75px;
  max-width: 100%;
  background: #a3cc40;
border-radius: 20px;
  padding-top: 15px;
}

.card-header1{
  background: #373737;
  height: 75px; 
  display: flex;
  align-items: center;
 padding-left: 100px;
 border-radius: 20px;
}

.card-header2{
  background: #4b4d4f;
  height: 75px;
  display: flex;
  align-items: center;
  padding-left: 100px;
  border-radius: 20px;
}
.card{
  border: none;
  border-radius: 0;  
}
.card .fa{
  font-size: 33px;
  color: #fff; 
  position: absolute;
  right: 30px;
  top: 23px;
}

.tme{
  color: #fff;
  font-size: 30px;
}

.stuff{
  color: #fff;
  font-size: 30px;
  font-weight: 500;
margin-right: -94px; 
}
.mb-0{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.mb{
  width: 100%;
  display: flex;
  justify-content: space-around;
}


.tme_1{
  color: #fff;
  font-size: 22px;
  font-weight: 300;
}

.stuff_1{
  color: #fff;
  font-size: 22px;
  font-weight: 300;
}

.card-body{
  background: #a3cc40;
  color: aliceblue;
  border-radius: 20px;
}
.part3 {
  position: absolute;
  top: -22%;
  width: 100%;
  height: 270px;
  transform: skewY(-5.2deg);
  background: #fff;
  z-index: 6;
}
.part4{
  height: 708px;
  width: 100%;
  background: url('adventure-climb-landscape-2187629.jpg') no-repeat center center;
  position: relative;
}
.part4 img{
  position: absolute;
  top: 4px;
  left: 147px;
  z-index: 7;
}
.mid{
  z-index: 7;
  margin-top: 144px;
}

.mid h1{
  font-size: 50px;
  color: #fff;
  font-style: 'Roboto Slab';
}

.mid p{
  font-size: 14px;
  color: #ffffff;
  font-style: 'Roboto Slab';
}

.mid button{
  width:373px;
  height: 55px;
  background: #90d23d;
  border: none;
  color: #fff;
  font-size: 22px;
  border-radius: 10px;
  margin: 27px auto;
}
.part5 {
  position: absolute;
  top: 85%;
  width: 100%;
  height: 195px;
  transform: skewY(-5.2deg);
  background: #fff;
  z-index: 6;
}

.part6{
  position: relative;
  z-index: 7;
  background: #fff;
  height: 1418px;
}

.part6 h1{
  font-family: 'Roboto Slab';
}
.part6 p{
  font-family: 'Roboto Slab';
}

.info_cube{
  width: 300px;
  height: 300px;
  background:  url('sq_03.png')no-repeat;
  border-radius: 12px;
  margin: 40px 0;
  padding-left: 20px;
  padding-top: 10px;
}

.info_cube_1{
  width: 300px;
  height: 300px;
  background: url('fing_03.png') no-repeat center center;
  border-radius: 12px;
  margin: 40px 0;
}

.info_cube h2{
  color: #fff;
  font-family: 'Roboto Slab';
  font-size: 45px;
}
.info_cube p {
  color: #fff;
  font-size: 15px;
  margin: 30px auto;
  font-family: 'Roboto Slab';
}

.info_cube .fa{
  color: #fff;
  font-size: 38px;
  cursor: pointer;
}

.part8{
  position: absolute;
  top: -22%;
  width: 100%;
  height: 264px;
  transform: skewY(-5.2deg);
  background: #fff;
  z-index: 6;
}
.part7{
  padding-top: 175px;
  height: 800px;
  width: 100%;
  background: url('blue-sky-clouds-crop-388415.jpg') no-repeat center center;
  position: relative;
}
.part9{
  position: absolute;
  top: 89%;
  width: 100%;
  height: 175px;
  transform: skewY(-5.2deg);
  background: #fff;
  z-index: 6;
}

.part7 h1,
.part7 p{
  color: #fff;
  font-family: 'Roboto Slab';
  background: #90d23d;
  border-radius: 10px;
}


.part7 button{
  width:373px;
  height: 55px;
  background: #90d23d;
  border: none;
  color: #fff;
  font-size: 22px;
  border-radius: 10px;
  margin: 27px auto;
  cursor: pointer;
}

.part7 .row{
  height: 483px;
}

.part10{
  height: 1180px;
  background: #fff;
  position: relative;
  z-index: 7;
}

.part10 h1,
.part10 p{
  color: black;
  font-family: 'Roboto Slab';
  border-radius: 10px;
}

.part10 button{
  width: 218px;
  height: 55px;
  background: #373737;
  border: none;
  color: #fff;
  font-size: 22px;
  border-radius: 10px;
  margin: 27px auto;
  cursor: pointer;
}

.part10 .col-xl-6{
   padding-right: 0px;
    padding-left: 0px;
}

.event1{
  background: url('activity-adventure-aerial-207305.jpg')  no-repeat center center;
  height: 400px;
}
.event2{
  background: url('branches-color-colorful-699624.jpg')  no-repeat center center;
  height: 400px;
}


.event3{
  background: url('bright-color-design-1161547.jpg')  no-repeat center center;
  height: 400px;
}
.event4{
  background: url('daylight-environment-forest-459225.jpg') no-repeat center center;
  height: 400px;
}

.part10 .row{
  height: 1030px;
}

.part11{
  width: 100%;
  height: 720px;
  position: relative;
}

.reg2{
  width: 980px;
  height: 533px;
  background: #fff;
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 14%;
  transform: translatex(-50%);
}

.reg2 .row{
  height: 100px;
}

.reg2 input{
  width: 373px;
  height: 55px;
  margin: 9px auto;
  border: 2px solid #bebebe;
  border-radius: 10px;
  padding-left: 10px;
}

.reg2 input:active,
.reg2 input:focus{
 outline: none;
 border-color: #90d23d;
}

.reg2 textarea{
  width: 373px;
  border: 2px solid #bebebe;
  border-radius: 10px;
  padding-left: 10px;
}

.reg2 textarea:active,
.reg2 textarea:focus{
 outline: none;
 border-color: #90d23d;
}

.reg2 button{
  width: 373px;
  height: 55px;
  background: #373737;
  border: none;
  color: #fff;
  font-size: 22px;
  border-radius: 10px;
  margin: 27px auto;
  cursor: pointer;
}
.reg2 .col-xl-6{
  height: 533px;
}

.reg2 p{
  font-family: 'Roboto Slab';
  margin-top: 37px;
}

.adress{
  padding-top: 70px;
}
.adress2{
  padding-top: 70px;
}

footer{
  width: 100%;
  height: 220px;
  background: #90d23d;
}

footer p{
  color: #fff;
}

footer .fa{
  color: #fff;
  font-size: 40px;
  margin-left:  10px;
  margin-right:  10px;
  margin-top: 51px;
  margin-bottom: 42px;
  text-shadow: 1px 2px 0px black;
  cursor: pointer;
}